/* Блоки  */
body {
  background: blanchedalmond;
}

.tt,
.tt3,
.tt4,
.map_roof_div,
.tt6,
.map_main_div,
.tt5 {
  width: 500px;
  /* display: none; */
  position: absolute;
  top: 25%;
  left: 33%;
  z-index: 2;
  background: white;
  opacity: 0.8;
  left: -100%; 
  
}

/* Скрытые блоки. В js добавляются эти классы при клике */

.z1,
.map_main_display,
.z3,
.z4,
.map_roof_display,
.z6 {
  /* display: block; */
  /* transform: translateX(10000px); */
  /* left: 0; */
  /* transition: left 0.8s ease;   */
}

.z1 {
  top: 25%;
  left: 33%;
}

/* Большое здание */
.map_main_display {
  top: -12px;
  left: 410px;
  perspective: 400px;
  transform: perspective(206px) rotatey(-7deg);
  transition: transform 0.8s ease; 
}

.z3 {
  top: 2%;
  left: 26%;
}

.z4 {
  top: 2%;
  left: 40%;
}

/* С рельевной крышей */

.map_roof_display {
  top: 0px;
  left: 325px;
  transform: perspective(400px) rotate3d(-15, 135, -25, 15deg);
  transition: transform 0.8s ease;
}

.z6 {
  top: 5%;
  left: 1%;
}

/* Кнопки закрытия окна */

.map_btn {
  width: 30px;
  height: 30px;
  background: #1d71b8;
  border: none;
  color: white;
  border-radius: 20%;
  outline: none;
  transition: all 0.8s ease 0s;
}

.map_btn:hover {
  background: #ed8b33;
  transition: all 0.8s ease 0s;
}

/* Заголовок в окне */

.map_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 70px;
  padding: 0 30px;
  background: #e6e2de;
  transition: all 0.8s ease 0s;
  position: relative;
}

/* Стрелки */

/* .arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 100px solid #e6e2de;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: -100px;
} */

.arrow-right {
  width: 0;
  height: 0;
  border-top: 15px solid transparent;
  border-right: 46px solid #e6e2de;
  border-bottom: 13px solid transparent;
  position: absolute;
  left: -45px;
}

/* Вторая стрелка c рельефной крышей */

.arrow_roof {
  top: 42px;
}

/* Начальный контейнер */

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  margin-top: 190px;  
}

.wrapper {
  box-shadow: 16px 30px 10px 5px rgb(0 0 0 / 50%);
}

.modal {
  min-width: 960px !important;
}

.px {
  margin-top: 50px;
  text-align: center;
}

button {
  width: 135px;
  height: 80px;
  background: blue;
  color: white;
  text-decoration: none;
  border: none; 
  border-radius: 30%;
}

a {
  color: white;
  text-decoration: none;
}

.btn_modal {
  box-shadow: 10px 15px 8px 5px rgb(0 0 0 / 50%);
}