/* Блоки  */

.tt,
.tt3,
.tt4,
.map_roof_div,
.tt6,
.map_main_div,
.tt5
 {
  width: 500px;
  display: none;
  position: absolute;
  top: 25%;
  left: 33%;
  z-index: 2;
  background: white;
  opacity: 0.8;  
}

/* Скрытые блоки. В js добавляются эти классы при клике */

.z1, .map_main_display, .z3, .z4, .map_roof_display, .z6 {
  display: block;
}

.z1 { 
  top: 25%;
  left: 33%;
}

/* Большое здание */
.map_main_display {
  top: 0px;
  left: 524px;
}

.z3 {
  top: 2%;
  left: 26%;
}

.z4 {
  top: 2%;
  left: 40%;
}

/* С рельевной крышей */
.map_roof_display {
  top: 0px;
  left: 325px;
}

.z6 {
  top: 5%;
  left: 1%;
}


/* Кнопки закрытия окна */

.map_btn {
  /* margin-left: 90%;
    padding-bottom: 15px;
    margin-bottom: 20px; */
  width: 30px;
  height: 30px;
  background: #1d71b8;
  border: none;
  color: white;
  border-radius: 20%;
  outline: none;
  transition: left 0.8s ease 0s;
}

.map_btn:hover {
  background: #ed8b33;
}

/* Заголовок в окне */

.map_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  height: 70px;
  padding: 0 30px;
  background: #e6e2de;
  transition: left 0.8s ease 0s;
  position: relative;
}

/* Стрелки */

.arrow-right {
  width: 0;
  height: 0;
  border-top: 30px solid transparent;
  border-right: 100px solid #e6e2de;
  border-bottom: 30px solid transparent;
  position: absolute;
  left: -100px;
}

/* Вторая стрелка c рельефной крышей */

.arrow_roof {
  top: 38px;
}

/* Начальный контейнер */

.container {
  width: 1024px;
  margin: 0 auto;
  position: relative;
  margin-top: 190px;
}


